
// Paginas
@import 'pages/detalle';
@import 'pages/inicio';

// Componentes
@import 'components/header';
@import 'components/carrusel';
@import 'components/footer';
@import 'components/botones';

// Exteriores
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

