@import '../variables/misvariables';

.title {
    text-align: start;
    margin-left: 40px;
}

.detalle {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 20px;
    background:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6), // Negro arriba (60% opacidad)
            rgba(0, 0, 0, 0.9) // Negro casi puro abajo (se apaga la foto)
        ),
        url('https://media.gq-magazine.co.uk/photos/5f9956da9b357099d70aa238/16:9/w_2560%2Cc_limit/DUNEFILM2810_rev1DU10412rv3_High_Res_JPEG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 10%;
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    height: fit-content;

    &__contenido {
        display: grid;
        gap: 20px;
        padding: 40px;
    }

    &__titulo {
        font-size: 4rem;
        font-weight: bold;
    }

    &__top {
        color: $color-principal;
        padding: 0.6rem;
        border-radius: 10px;
        font-weight: bold;
        background-color: rgba($color-principal, 0.1);
        width: fit-content;
    }

    &__descripcion {
        font-size: 1.2rem;
        max-width: 100%;
        word-spacing: 5px;
    }

    &__generos {
        display: flex;
        gap: 10px;
        font-size: 0.9rem;
        color: rgba($color-texto, 0.7);
        align-items: center;
        white-space: nowrap;

        &__item {
            background-color: rgba(255, 255, 255, 0.1);
            padding: 5px 10px;
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.3);
        }
    }

    &__info {
        margin-top: auto;
        width: 80%;
        margin-bottom: 30px;

        &__body {
            width: fit-content;
            margin: auto;
            background-color: rgba(0, 0, 0, 0.4);
            display: grid;
            gap: 15px;
            padding: 40px;
            border-radius: 20px;
            white-space: nowrap;

            &__titulo {
                font-size: 1rem;
                font-weight: bold;
                color: $color-principal;
            }

            &__descripcion {
                font-size: 1rem;
                max-width: 100%;
            }
        }
    }
}

.informacion {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
    align-self: center;
    padding: 40PX;
    width: 80%;
    justify-self: center;

    &__sinopsis {
        display: grid;
        gap: 20px;
        width: 70%;
        justify-self: center;

        p {
            text-align: start;
            word-spacing: 10px;
            color: rgb(255, 255, 255, 0.4);
            line-height: 25px;
        }

        h2 {
            text-align: start;
        }
    }

    &__trailer {
        display: grid;
        grid-template-columns: 5% 60% auto;
        width: 70%;
        justify-self: center;
        padding: 20PX;
        background-color: #1A202C;
        border-radius: 10px;
        gap: 20PX;
    }

    &__icono {
        img {
            width: 40px;
        }
    }

    &__texto {
        display: grid;
        gap: 5px;
        text-align: left;

        span {
            color: rgb(255, 255, 255, 0.4);
        }
    }

    &__play {
        text-align: right;
        transition: transform ease-in 0.2s;

        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 40px;
        }
    }
}

@media (max-width: 992px) {

    .detalle {
        &__info {
            width: auto;
        }
    }

    .informacion {
        width: 100%;

        &__sinopsis {
            width: 90%;
        }

        &__trailer {
            width: 90%;
        }
    }
}

@media (max-width: 768px) {
    .detalle {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;

        &__contenido {
            .botones {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .like {
                    display: none;
                }
            }

        }

        &__info {
            justify-self: center;
        }

    }

}

@media (max-width: 576px) {}