.carrusel {
    padding: 40px;
    &__titulo {
        font-size: 1.5rem;
        margin-bottom: 20px;
        font-weight: bold;
    }

    &__contenedor {
        display: flex;
        gap: 20px;
        overflow-x: auto;
        padding-bottom: 20px;
    }

    &__tarjeta {
        width: 200px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        &:hover {
            transform: scale(1.05);
        }
    }

}