.carrusel {
    padding: 40px;

    &__titulo {
        font-size: 1.5rem;
        margin-bottom: 20px;
        font-weight: bold;
    }

    &__cabecera {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-right: 90px;


        a {
            color: $color-principal;
            font-weight: bold;
            cursor: pointer;
            text-decoration: none;
            transition: transform ease-in 0.3s;


            &:hover {
                transform: scale(1.1);
            }
        }

    }

    &__contenedor {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        gap: 20px;
        overflow-x: auto;
        padding-bottom: 20px;
    }

    &__tarjeta {
        width: 200px;
        height: 300px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 15px;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
            display: block;
        }

        &:hover img {
            transform: scale(1.05);
        }
    }

}